<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dream.mapper.UserMapper">
    <select id="getUser"  resultType="map">
        SELECT *
        FROM USER_INFO
    </select>

    <select id="getOneUser" resultType="com.example.dream.vo.User">
        SELECT *
        FROM USER_INFO
        WHERE
            NUM = #{num}
    </select>

    <update id="updateServerIp">
        UPDATE USER_INFO
        SET SERVER_IP = #{encryptedIp}
        WHERE NUM = #{num}
    </update>

    <update id="updateUser" parameterType="com.example.dream.vo.User">
        UPDATE USER_INFO
        SET
            DATABASE_TYPE = #{user.DATABASE_TYPE}
            ,DATABASE_VERSION = #{user.DATABASE_VERSION}
            ,SERVER_IP = #{user.SERVER_IP}
            ,DATABASE_ID = #{user.DATABASE_ID}
            ,DATABASE_USER_ID = #{user.DATABASE_USER_ID}
            ,REF_INFO = #{user.REF_INFO}
        WHERE NUM = #{num}
    </update>

    <delete id="deleteUser">
        DELETE FROM USER_INFO
        WHERE NUM = #{num}
    </delete>

    <insert id="newUser" parameterType="com.example.dream.vo.User">
        INSERT INTO USER_INFO (
            DATABASE_TYPE
            ,DATABASE_VERSION
            ,SERVER_IP
            ,DATABASE_ID
            ,DATABASE_USER_ID
            ,REF_INFO
        )
        VALUES (
            #{databaseType},
            #{databaseVersion},
            #{serverIp},
            #{databaseId},
            #{databaseUserId},
            #{refInfo}
        )
    </insert>

</mapper>

