/* 전체 페이지 배경색 설정 */
body {
    background-color: #ffffff; /* 하늘색 배경 */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: space-around;
    color: darkcyan;
}

/* 사용자 정보 컨테이너 */
#userDetailContainer {
    padding: 30px;
    max-width: 800px;
    margin: 22px auto;
    background-color: #ffffff; /* 흰색 배경 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

/* 각 항목 스타일 */
.user-detail {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f1f8fc; /* 연한 하늘색 배경 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 카드 그림자 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 항목 이름 스타일 */
.label {
    font-weight: bold;
    color: #00796b;
    font-size: 16px;
}

/* 항목 값 스타일 */
.value {
    font-size: 16px;
    color: #00796b;
}

button {
    padding: 10px 20px; /* 버튼 크기 조정 */
    background-color:#008b8b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
}
button:hover {
    background-color: #0056b3; /* 버튼 호버 색상 */
    cursor: pointer;
}


#backButton {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.oneButton {
    margin-right: 10px;

}


/* 수정 후 */
/* 수정 상태의 input 필드 */
input[type="text"] {
    font-size: 16px;
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-left: 15px;
    transition: border-color 0.3s ease;
}

/* 수정 상태일 때 input focus 효과 */
input[type="text"]:focus {
    border-color: #4a90e2;
    background-color: #ffffff;
    outline: none;
}

/* 초기 상태: disabled 버튼 */
#saveChangesBtn:disabled {
    background-color: gray; /* 비활성화 상태의 색상 */
    cursor: not-allowed; /* 비활성화 상태의 커서 */
}

/* 활성화 상태: enabled 버튼 */
#saveChangesBtn {
    background-color: #008b8b; /* 활성화 상태의 색상 */
    cursor: pointer; /* 활성화 상태의 커서 */
}