<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/userDetailUpdateCreate.css">
    <title>User Update</title>
</head>
<body>
<h1>수정 페이지</h1>

<!-- 사용자 정보 테이블 -->
<div id="userDetailContainer">
    <div class="user-detail">
        <span class="label">번호:</span>
        <input type="text" id="numInput" th:value="${userDetail['userData'][0]['num']}" readonly />
    </div>
    <div class="user-detail">
        <span class="label">SERVER_IP:</span>
        <input type="text" id="serverIpInput" th:value="${userDetail['userData'][0]['SERVER_IP']}"/>
    </div>
    <div class="user-detail">
        <span class="label">DATABASE_TYPE:</span>
        <input type="text" id="dbTypeInput" th:value="${userDetail['userData'][0]['DATABASE_TYPE']}"/>
    </div>
    <div class="user-detail">
        <span class="label">DATABASE_ID:</span>
        <input type="text" id="dbIdInput" th:value="${userDetail['userData'][0]['DATABASE_ID']}"/>
    </div>
    <div class="user-detail">
        <span class="label">REF_INFO:</span>
        <input type="text" id="refInfoInput" th:value="${userDetail['userData'][0]['REF_INFO']}"/>
    </div>
    <div class="user-detail">
        <span class="label">DATABASE_VERSION:</span>
        <input type="text" id="dbVersionInput" th:value="${userDetail['userData'][0]['DATABASE_VERSION']}"/>
    </div>
    <div class="user-detail">
        <span class="label">DATABASE_USER_ID:</span>
        <input type="text" id="dbUserIdInput" th:value="${userDetail['userData'][0]['DATABASE_USER_ID']}"/>
    </div>
</div>

<!-- 버튼: 사용자 목록으로 돌아가기 -->
<div id="backButton">
    <button class="oneButton" onclick="goBack()">취소</button>
    <button class="oneButton" onclick="saveChanges()">저장</button>
</div>

<script src="/js/userUpdate.js"></script>
</body>
</html>
